{% extends "layout.html" %}

{% block page_title %}
  Your account (10)
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
    </ol>
  </nav>
</div>

<main id="content" role="main">

	<div class="grid-row">
	    <div class="column-two-thirds">
	      <h1 class="heading-xlarge" style="margin-bottom: 20px">
	        Cloud hosting, software and support
	      </h1>
	      <p>Use the Digital Marketplace to search for cloud services, save details of your search and download your search results.</p>
	      <!-- <a href="#" class="button">Search for services</a> -->
	    </div>
	</div>

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <ol class="task-list task-list--lowercase task-list--simple task-list--transparent task-list--start-page task-list--short-margin" style="margin-left: -35px">
              <li>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">1. </span> Search for services
                </h2>
                <p class="task-list-description">Choose a category, then search for services using keywords and filters.</p>
                <ul class="task-list-items task-list-items--single-task">
                	<li class="task-list-item">
                	  <a class="task-name" href="#">
                	    Search for cloud services
                	  </a>
                	</li>
                </ul>
              </li>
              <li>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">2. </span> Save and edit your search terms
                </h2>
                <p class="task-list-description">Keep a record of the category, keywords and filters you used. Edit saved searches to refine your results.</p>
                <ul class="task-list-items task-list-items--single-task">
                	<li class="task-list-item">
                	  <a class="task-name" href="#">
                	    Log in to your account to see a list of your saved searches
                	  </a>
                	</li>
                </ul>
              </li>
              <li>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">3. </span> Download your search results
                </h2>
                <p class="task-list-description">When you’ve finished editing your search terms, download a spreadsheet of your results to help you review or compare services.</p>
                <ul class="task-list-items task-list-items--single-task">
                  <!-- <li class="task-list-item"> -->
                    <!-- <a class="task-name" href="#"> -->
                      <!-- Download results -->
                    <!-- </a> -->
                    <!-- <a href="#" class="button task-completed">Download results</a> -->
                  <!-- </li> -->
                </ul>
              </li>
              <li>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">4. </span> Review services
                </h2>
                <p class="task-list-description"><a href="#">Review and compare services</a> to find the one that best meets your budget and requirements. <a href="#">You can contact the suppliers to ask questions</a>, but you must not negotiate with them about the details of their service.</p>
                <ul class="task-list-items">
                </ul>
              </li>
              <li>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">5. </span> Award a contract
                </h2>
                <p class="task-list-description">When you have chosen the winning service, check <a href="#">how to award a contract</a>. The buyer and supplier must both sign a copy of the contract before the service can be used.</p>
                <ul class="task-list-items">
                  <li class="task-list-item">
                    <a class="task-name" href="#">
                      Download the G-Cloud 9 call-off contract
                    </a>
                  </li>
                  <li class="task-list-item">
                    <a class="task-name" href="#">
                      Publish the contract
                    </a>
                  </li>
                  <li class="task-list-item">
                    <a class="task-name" href="#">
                      Complete the Customer Benefits Record form
                    </a>
                    <!-- <strong class="task-completed task-not-started">Can’t start yet</strong> -->
                  </li>
                  <li class="task-list-item">
                    <!-- <a class="task-name" href="#"> -->
                      Tell us the outcome
                    <!-- </a> -->
                    <!-- <strong class="task-completed task-not-started">Can’t start yet</strong> -->
                  </li>
                </ul>
              </li>
            </ol>
            <div>
            	<a href="#" class="button button-save">Search for cloud services</a>
            	<p style="margin-top: 20px">or <a href="#">log in to your account to see a list of your saved searches</a></p>
            </div>
        </div>
    </div>
</main>

{% endblock %}
