{% extends "layout.html" %}

{% block page_title %}
  Your account (5)
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
    </ol>
  </nav>
</div>

<main id="content" role="main">
    <div class="grid-row">
    	<div class="column-two-thirds">
    	    
    		<ol class="task-list task-list--lowercase task-list--transparent" style="margin-left: -35px">
    		  <li>
    		    <h2 class="task-list-section">
    		      <span class="task-list-section-number">1. </span> Find services
    		    </h2>
    		    <p class="task-list-description">When you have written your requirements you should:</p>
    		    <ul class="task-list-items">
    		      <li class="task-list-item">
    		        <!-- <a class="task-name" href="#" aria-describedby="company-information-completed"> -->
    		          Search for services
    		        <!-- </a> -->
    		        <strong class="task-completed task-not-started button" id="company-information-completed">Edit search</strong>
    		      </li>
    		    </ul>
    		  </li>
    		  <li>
    		    <h2 class="task-list-section">
    		      <span class="task-list-section-number">2. </span> Shortlist services
    		    </h2>
    		    <p class="task-list-description">When you have finished editing your search terms you should:</p>
    		    <ul class="task-list-items">
    		      <li class="task-list-item">
    		        <!-- <a class="task-name" href="#"> -->
    		          Create a shortlist of services
    		        <!-- </a> -->
                    <a href="#" class="button task-completed">Create a shortlist</a>
    		      </li>
    		      <li class="task-list-item">
    		        <!-- <a class="task-name" href="#"> -->
    		          Download your shortlist
    		        <!-- </a> -->
                    <strong class="task-completed task-not-started">Can’t start yet</strong>
    		      </li>
    		    </ul>
    		  </li>
    		  <li>
    		    <h2 class="task-list-section">
    		      <span class="task-list-section-number">3. </span> Award and publish a contract
    		    </h2>
                <p class="task-list-description">When you have chosen the winning service, you should:</p>
    		    <ul class="task-list-items">
    		      <li class="task-list-item">
    		        <!-- <a class="task-name" href="#"> -->
    		          Award a contract
    		        <!-- </a> -->
                    <strong class="task-completed task-not-started">Can’t start yet</strong>
    		      </li>
    		      <li class="task-list-item">
    		        <!-- <a class="task-name" href="#"> -->
    		          Tell us which service won
    		        <!-- </a> -->
                    <strong class="task-completed task-not-started">Can’t start yet</strong>
    		      </li>
                  <li class="task-list-item">
                    <!-- <a class="task-name" href="#"> -->
                      Send details of your contract to Contracts Finder
                    <!-- </a> -->
                    <strong class="task-completed task-not-started">Can’t start yet</strong>
                  </li>
    		    </ul>
    		  </li>
    		</ol>

    	</div>
    </div>
</main>

{% endblock %}
