{% extends "layout.html" %}

{% block page_title %}
  Your account
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
    </ol>
  </nav>
</div>

<main id="content" role="main">
  	<!-- <div class="grid-row">
	    <div class="column-two-thirds">
	      <h1 class="heading-xlarge" style="margin-bottom: 20px">
	        Find cloud hosting, software and support
	      </h1>
	      <p>Complete the steps below to find and shortlist cloud services, publish contract information and compile an award report.</p>
	      <a href="#" class="button">Search for services</a>
	    </div>
	</div> -->
    <div class="grid-row">
    	<div class="column-two-thirds">
    	    
    		<ol class="task-list" style="margin-left: -35px">
    		  <!-- <li>
    		    <h2 class="task-list-section">
    		      <span class="task-list-section-number">1. </span> Write your requirements
    		    </h2>
    		    <div class="task-list-items">
	    		    <p class="instruction-list-item-top">Work with buyers, someone who will use the service and technical experts to prepare a list of ‘must-haves’ and ‘wants’. These should inform your search category, keywords and filters.</p>
	    		    <p class="instruction-list-item-top">Work with buyers, someone who will use the service and technical experts to prepare a list of ‘must-haves’ and ‘wants’. These should inform your search category, keywords and filters.</p>
	    		</div>

    		  </li> -->
    		  <li>
    		    <h2 class="task-list-section">
    		      <span class="task-list-section-number">1. </span> Find services
    		    </h2>
    		    <p class="task-list-description">Work with buyers, someone who will use the service and technical experts to prepare a list of ‘must-haves’ and ‘wants’. These should inform your search category, keywords and filters.</p>
    		    <ul class="task-list-items">
    		      <li class="task-list-item">
    		        <!-- <a class="task-name" href="#" aria-describedby="company-information-completed"> -->
    		          Search for services
    		        <!-- </a> -->
    		        <!-- <strong class="task-completed" id="company-information-completed">Completed</strong> -->
    		      </li>
    		      <li class="task-list-item">
    		        <!-- <a class="task-name" href="#" aria-describedby="contact-details-completed"> -->
    		          Save search
    		        <!-- </a> -->
    		        <!-- <strong class="task-completed" id="contact-details-completed">Completed</strong> -->
    		      </li>
    		    </ul>
    		  </li>
    		  <li>
    		    <h2 class="task-list-section">
    		      <span class="task-list-section-number">2. </span> Evaluate services
    		    </h2>
    		    <p class="task-list-description">You can use the spreadsheet to help you review or <a href="https://www.gov.uk/guidance/g-cloud-buyers-guide#review-and-compare-services" target="_blank" rel="external noopener noreferrer" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="External Link">compare services</a>.</p>
    		    <ul class="task-list-items">
    		      <li class="task-list-item">
    		        <!-- <a class="task-name" href="#"> -->
    		          Save results
    		        <!-- </a> -->
    		      </li>
    		      <li class="task-list-item">
    		        <!-- <a class="task-name" href="#"> -->
    		          Download results
    		        <!-- </a> -->
    		      </li>
    		    </ul>
    		  </li>
    		  <li>
    		    <h2 class="task-list-section">
    		      <span class="task-list-section-number">3. </span> Award a contract
    		    </h2>
    		    <ul class="task-list-items">
    		      <li class="task-list-item">
    		        <!-- <a class="task-name" href="#"> -->
    		          Tell us which service won
    		        <!-- </a> -->
    		      </li>
    		      <li class="task-list-item">
    		        <!-- <a class="task-name" href="#"> -->
    		          Send details of your contract to Contracts Finder
    		        <!-- </a> -->
    		      </li>
    		    </ul>
    		  </li>
    		</ol>

    	</div>
    </div>
</main>

{% endblock %}
